// The official css-module README recommends using the camelCase naming convention
@import '../../styles/variables';

.headColor {
  color: rgb(25, 0, 255);
}

.homeSection {
  .parentRow {
    .buttonSection {
      .switchButton {
        z-index: 0 !important;
        .customInput:checked {
          &:checked ~ .customLabel::before {
            border-color: $primary !important;
            background-color: $primary !important;
          }
        }
        color: #000000;
      }
    }
    .searchSection {
      .searchIcon {
        right: 20px;
        top: 7px;
        color: $lite-gray;
        font-weight: bold;
      }
    }
    .tableParent {
      overflow: auto;
      .tableSection {
        .header {
          background-color: $table-header;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .viewHistory {
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 575px) {
  .viewHistory {
    width: 100%;
    margin-top: 10px;
  }
}
